// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@lsltools_console_height: 150px;

// Remove right border of console window.
atom-panel.bottom {
    border-right: 0px !important;
}

// Main
.atom-lsltools {
    border-right: 10px solid;
}

// Console
.atom-lsltools-console {
    background-color: @base-background-color;
    height: @lsltools_console_height;


    .atom-lsltools-console-headline {
        background-color: @tool-panel-background-color;
        border-bottom: 1px solid @tool-panel-border-color;
        text-align: center;
        height: 20px;
        width: inherit;
        margin: 0;

        button {
            background-color: @base-background-color;
            border: none;
            height: 14px;
            width: auto;
            float: right;
            border-radius: 5px;
            margin: 3px;
            margin-left: 1px;

            font-size: 10px;
            line-height: 1.2;
            text-align: center;
        }
    }

    .atom-lsltools-console-content-wrapper {
        height: auto;
        max-height: @lsltools_console_height - 20px;
        width: inherit;
        margin: 0;

        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;

        .atom-lsltools-console-content {
            background-color: @base-background-color;
            height: auto;
            width: inherit;
        }
    }
}

// ToDo: Make this work for only the console scrollbar
/*
.scrollbars-visible-always {
    ::-webkit-scrollbar {
        &-track {
            background-color: red !important;
        }
    }
} */
